<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace = "fragments::header">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace = "fragments :: sidebar">
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav th:replace = "fragments :: topbar">
                </nav>

                <div class="container-fluid"></div>
            </div>

            <footer th:replace = "fragments :: footer">
            </footer>
      </div>
  </div>

    <a th:replace = "fragments :: scroll">
    </a>

    <!--&lt;!&ndash; Logout Modal&ndash;&gt;
    <div th:replace = "fragments :: logoutModal"></div>-->

    <div th:replace = "fragments::script"></div>
    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>